.p-speeddial-button {
  &.p-button {
    &.p-button-icon-only {
      width: 2.5rem;
      height: 2.5rem;
      box-shadow: none;
    }
  }
}

.p-speeddial-action {
  width: 2.5rem;
  height: 2.5rem;
}

.p-speeddial-button.p-button.p-button-icon-only .p-button-icon {
  font-size: 1rem;
}

.p-speeddial-action-icon {
  font-size: 1rem;
}
